*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

footer .d-flex {
    display: flex!important;
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

footer li{
    margin: 10px;
    justify-items:flex-end;
    text-decoration: none;
    list-style: none;
}

    
    
    