*{
    margin: 0;
        padding: 0;
}

.fondoColor{
    background-color: aquamarine !important;
    
}

.fondoBody{
    /* height: 90vh; */
    text-align: center;
    padding-top: 20px;
}

.imgBody{
    margin: 10px;
}

.cards{
    display: flex!important;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.accordion-button{
    color: black;
}

.accordion-button:focus{
    color: black;
    background-color: aquamarine;
}

.imgFaqs{
    margin: 20px;
}

footer .d-flex {
    display: flex!important;
    justify-content: flex-end;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

footer li{
    margin: 10px;
    justify-items:flex-end;
    text-decoration: none;
    list-style: none;
}

    
    
    